body{
    margin: 0;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 350px;
            
    
}

.login{
    width: 350px;
    height: 290px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 130px;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    opacity: 0.6;
    font-weight: bold;
    color: #000000;
    border-radius: 25px;
    
    
}


.button{
    margin-left: 1000px;
    width: 300px;
}
